<div class="grid">
    <div class="col-12 md:col-12">
        <p-card header="{{contentDto.title}}">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" height="300" />
            </ng-template>
            <p class="m-0">
                {{contentDto.text}}
            </p>
            <ng-template pTemplate="footer">
                <i class="pi pi-heart" style="font-size: 2rem; cursor: pointer;margin-right: 20px;" (click)="like()"></i>
                <i class="pi pi-comment" style="font-size: 2rem; cursor: pointer;margin-right: 20px;">{{commentDtos.length}} </i>
                <i class="pi pi-link" style="font-size: 2rem; cursor: pointer;margin-right: 20px;"></i>
            </ng-template>
        </p-card>
    </div>
</div>
<div class="grid">
    <div class="col-12 md:col-12" *ngIf="commentDtos.length>0">
        <p-card header="Comments">
            <div style="overflow-y: auto;height: 20vh;">
                <div *ngFor="let item of commentDtos">
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"> </i>
                            <b>{{item.user.username}} </b>
                        </div>
                    </p-divider>
                    <p>
                        {{item.text}}
                    </p>
                </div>
            </div>
        </p-card>
    </div>
    <div class="col-12 md:col-12">
        <p-card>
            <textarea rows="5" cols="30" style="width: 100%;" placeholder="comment ..." pInputTextarea
                [(ngModel)]="comment"></textarea>
            <p-button label="Send Comment" (onClick)="sendCommend()"></p-button>
        </p-card>

    </div>
</div>