
<div class="grid" style="margin-top: 10vh;">
    <div class="col-12 md:col-4 mb-4"></div>
    <div class="col-12 md:col-4 mb-4">
        <div class="surface-card p-4 shadow-2 border-round w-full ">
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium mb-3">Welcome Back MyBlog</div>
            </div>
            <div>
                <label  class="block text-900 font-medium mb-2">Username</label>
                <input  type="text" [(ngModel)]="userLoginDto.username" placeholder="Username" pInputText class="w-full mb-3">
        
                <label  class="block text-900 font-medium mb-2">Password</label>
                <input  type="password" [(ngModel)]="userLoginDto.password" placeholder="Password" pInputText class="w-full mb-3">
        
                <button pButton pRipple label="Sign In" (click)="login()" icon="pi pi-user" class="w-full"></button>
            </div>
        </div>

    </div>
    <div class="col-12 md:col-4 mb-4"></div>
</div>
