<div class="grid">
    <div class="col-12 md:col-4" *ngFor="let contentDto of contentDtos">
        <p-card header="{{contentDto.title}}" [routerLink]="'/detail/'+contentDto.id">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p class="m-0">
                {{contentDto.text}}
            </p>
            <ng-template pTemplate="footer">
                <i class="pi pi-heart" style="font-size: 1rem; cursor: pointer;margin-right: 20px;"></i>
                <i class="pi pi-comment" style="font-size: 1rem; cursor: pointer;margin-right: 20px;">{{contentDto.comments.length}} </i>
                <i class="pi pi-link" style="font-size: 1   rem; cursor: pointer;margin-right: 20px;"></i>{{contentDto.user.username}}
            </ng-template>
        </p-card>
    </div>
</div>