<p-card header="New Content" *ngIf="activeIndex==0">
    <div class="grid">
    
        <div class="col-12 md:col-12">
            <div class="flex flex-column gap-2">
                <label htmlFor="username">Category</label>
                <p-dropdown [options]="categories" [(ngModel)]="category" optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown>
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="flex flex-column gap-2">
                <label htmlFor="username">Title</label>
                <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="contentDto.title" />
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="flex flex-column gap-2">
                <label htmlFor="username">Content</label>
                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="contentDto.text"></textarea>
            </div>
        </div>
        <div class="col-12 md:col-12">
            <p-button label="Next" (onClick)="next(1)"></p-button>
        </div>
    </div>
</p-card>

<p-card header="New Content" *ngIf="activeIndex==1">
    <div class="grid">
        <div class="col-12 md:col-12">
            <input type="file" class="file-upload" (change)="onUpload($event)">
            {{fileName}}
            <img [src]="url" *ngIf="url" height="200">
        </div>
        <div class="col-12 md:col-12">
            <p-button label="Next" (onClick)="next(2)"></p-button>
        </div>
    </div>
</p-card>

<p-card header="New Content" *ngIf="activeIndex==2">
    <div class="grid">
        <div class="col-12 md:col-12">
            content creation successfully completed
        </div>
    </div>
</p-card>

<p-card header="Steps" [style]="{'margin-top':'20px'}">
    <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
</p-card>